<div class="container-proyects-portfolio w-100">
    <h2 class="subtitle1 p-5 w-100 d-flex justify-content-center mb-5" id="proyectos"> Proyectos </h2>
    <section class="container-cards-proyects w-100 d-flex justify-content-center">
        <div class="card bg-dark box m-3 m-3" style="width: 18rem;">
            <img src="assets/images/mightyDucksHockeyLeagueProyect.png" class="card-img-top"
                alt="Proyecto Mighty Ducks">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Mighty Ducks Hockey League</h5>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Mighty-Ducks" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1lpn0qQ2XMUs0u_CIR4imPVwfxJf1q5f_/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Mighty-Ducks/" class="btn btn-primary rounded-circle d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-2 m-3" style="width: 18rem;">
            <img src="assets/images/paraisoAnimalProyect.png" class="card-img-top" alt="Proyecto PetShop">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Paraiso Animal - PetShop</h5>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Paraiso-Animal-Petshop" class="btn btn-primary-2 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1hewUKYkXBNHT4BpseLRbHEoY8zD2_q90/view?usp=sharing" class="btn btn-primary-2 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Paraiso-Animal-Petshop/" class="btn btn-primary-2 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-3 m-3" style="width: 18rem;">
            <img src="assets/images/theCampProyect.png" class="card-img-top" alt="Proyecto The Camp">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3 ">The Camp - Cerveceria</h5>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/The-Camp" class="btn btn-primary-3 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1TXmbk60XvzYznpSvd3TlX8f1hIs0zOxR/view?usp=sharing" class="btn btn-primary-3 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box m-3" style="width: 18rem;">
            <img src="assets/images/statbucksProyect.png" class="card-img-top" alt="Proyecto Starbucks">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Starbucks - Pagina Web</h5>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Starbucks-new-desing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1GRn0e1sKXkYJIj7iWngNEFYDyisWf8MW/view?usp=sharing" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                    <a href="https://aguschio.github.io/Starbucks-new-desing/" class="btn btn-primary rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="grommet-icons:deploy"></span></a>
                </div>
            </div>
        </div>

        <div class="card bg-dark box-2 m-3" style="width: 18rem;">
            <img src="assets/images/homebankingProyecto.png" class="card-img-top" alt="Proyecto Homebanking">
            <div class="card-body">
                <h5 class="card-title text-light text-center p-3">Alfonsina Homebanking - Aplicacion web</h5>
                <div class="container buttons d-flex w-100 justify-content-center">
                    <a href="https://github.com/AgusChio/Alfonsina-Homebanking" class="btn btn-primary-2 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ion:logo-github"></span></a>
                    <a href="https://drive.google.com/file/d/1ltME6GdHLtObrBdzd2uZyCYDzb8Z30dQ/view?usp=sharing" class="btn btn-primary-2 rounded-circle me-2 d-flex justify-content-center align-content-center"><span class="iconify"
                            data-icon="ic:round-ondemand-video"></span></a>
                </div>
            </div>
        </div>
    </section>
</div>
