<nav class="navbar navbar-expand-lg bs-side-navbar" style="background-color: #111318;">
    <div class="d-flex justify-content-center p-4">
        <a class="navbar-brand text-light" href="#">
            <img src="./assets/images/Logo-portfolio-blanco.png" alt="Logo Agustina Chiodini" class="logo-AC d-flex column justify-content-center mx-auto"> Agustina Chiodini
        </a>
    </div>
    <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav text-center">
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#inicio">Inicio</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#sobreMi">Sobre Mi</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#servicio">Servicio</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#certificaciones">Certificaciones</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#proyectos">Proyectos</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link text-light izdadcha" href="#contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
