<section class="container-buttons-socials w-100 d-flex justify-content-center mt-3">
    <a class="btn draw-border" href="https://github.com/AgusChio"><span class="iconify" data-icon="octicon:mark-github-16"></span></a>

    <a class="btn draw-border" href="https://www.linkedin.com/in/agustina-chiodini/"><span class="iconify" data-icon="bi:linkedin"></span></a>

    <a class="btn draw-border" href="https://www.instagram.com/agus.chio/"><span class="iconify" data-icon="teenyicons:instagram-solid"></span></a>
</section>