<section>
    <h2 class="subtitle1 p-5 w-100 d-flex justify-content-center" id="sobreMi"> SOBRE MI </h2>
    <section class="container-sobre-mi p-4">
        <div class="d-flex justify-content-center w-100">
            <a href="./assets/pdf/Agustina-Chiodini.pdf" class="ov-btn-slide-left button-download text-light p-2 mb-3 mt-2">Descargar Currículum <span class="iconify"
                data-icon="material-symbols:sim-card-download-rounded"></span></a>
        </div>

        <div class="container-paragraph-aboutme">
            <p id="paragraph1" class="text-light mt-5">
                Como <span class="color1">Desarrolladora Full-Stack en Java</span>, me destaco por mi capacidad para <span class="color2">trabajar en equipo</span> y mi compromiso con el éxito del proyecto. Con mi <span class="color1">formación en MindHub y más de 700 horas</span> de práctica en entornos laborales simulados con <span class="color2">metodologías ágiles SCRUM</span>, puedo adaptarme fácilmente a diferentes desafíos y <span class="color1">asegurar la calidad</span> de las soluciones tecnológicas que desarrollo.
            </p>
            <p id="paragraph1-1" class="text-light mt-5">
                He trabajado con <span class="color2">HTML, CSS, Bootstrap, JavaScript, Vue.js, Spring Framework, PostgreSQL, Postman, Trello y Figma</span>, y los he implementado tanto en proyectos individuales como grupales. Si quieres ver ejemplos de mi trabajo, puedes consultar <a href="https://github.com/AgusChio" class="color1">mi GitHub</a>, donde encontrarás algunos de mis proyectos más recientes y relevantes.
            </p>
        </div>
    </section>
</section>
