<div>
    <h2 class="subtitle1 p-5 w-100 d-flex justify-content-center"id="servicio"> Servicios </h2>
    <section class="ag-format-container w-100">
        <div class="ag-services_box justify-content-center">
            <div class="ag-services_item d-flex justify-content-center">
                <div class="ag-services-item_link">
                    <div class="ag-services-item_bg"></div>
                    <div class="ag-services-item_title">
                        Desarroladora Front-end
                    </div>
                    <p class="ag-services-paragraph">Puedo desarrollar sitios web atractivos, creativos e
                        intereactivos con los usuarios. Utilizando tecnologias como HTML, CSS, Bootstrap, JavaScript
                        y Vue.js</p>
                </div>
            </div>
    
            <div class="ag-services_item d-flex justify-content-center">
                <div class="ag-services-item_link">
                    <div class="ag-services-item_bg"></div>
                    <div class="ag-services-item_title">
                        Desarrolladora Back-end
                    </div>
                    <p class="ag-services-paragraph">Puedo desarrollar sitios web con seguridad y estables.
                        Utilizando las tecnologias de Java, Spring Framework, Spring Boot, H2 database, PostgreSQL y
                        MySQL(proximamente)</p>
                </div>
            </div>
    
            <div class="ag-services_item d-flex justify-content-center">
                <div class="ag-services-item_link">
                    <div class="ag-services-item_bg"></div>
                    <div class="ag-services-item_title">
                        Desarrolladora Full-Stack
                    </div>
                    <p class="ag-services-paragraph">Puedo desarrollar sitios web aplicando todo lo relacionado
                        anteriormente con el front-end y back-end. Ademas de saber usar hermientas como figma para
                        el diseño y trello para una mejor organizacion.</p>
                </div>
            </div>
        </div>
    </section>
</div>
