<div class="container-certifications">
    <h2 class="subtitle1 p-3 w-100 d-flex justify-content-center mb-3" id="certificaciones"> Certificaciones </h2>
    <p class="paragraph-main-certifications text-light p-3 text-center">
        Estas certificaciones son un reflejo de mi <span class="color1">experiencia y habilidades</span> actuales en programación, pero también representan un punto de partida para seguir <span class="color2">creciendo y mejorando</span> como desarrolladora, en un mundo cada vez más cambiante y competitivo.
    </p>
    <section class="certifications">
        <div class="container-title-img-certification w-100 d-flex justify-content-center mb-3">
            <div class="class-container-img w-100 d-flex justify-content-center">
                <img src="assets/images/insignia_JAVA.png" alt="Insignia De MindhubLA - Desarrolladora Full-Stack Java" class="img-certification">
            </div>
            <h3 class="title-certification text-light p-2 text-center mt-4 mb-3">
                Certificado/Insignia MindhubLA - Desarrolladora Full-Stack Java
            </h3>
        </div>
        <div class="container-title-img-certification w-100 d-flex justify-content-center mb-3 mt-4">
            <div class="class-container-img w-100 d-flex justify-content-center">
                <img src="assets/images/argentina_programa_2022-1.png" alt="Certificado de Se Programar - Argetina Programa" class="img-certification mb-2">
            </div>
            <h3 class="title-certification-2 text-light p-2 text-center mt-5 mb-3">
                Certificado de Se Programar - Argentina Programa - Aprendiendo Lógica
            </h3>
        </div>
    </section>
</div>