<section id="inicio">
    <div class="container-image-AC d-flex justify-content-center align-items-end flex-column">
        <div class="d-flex justify-content-center w-100">
            <img class="image-AC border" src="./assets/images/Image-portfolio-Agustina-Chiodini.png" alt="Agustina Chiodini Image">
        </div>
        <div class="w-100 d-flex justify-content-center">
            <p class="paragraph-hi text-center">Hola!</p>
        </div>
    </div>

    <div class="container-title-paragraph text-light d-flex justify-content-center p-3 flex-column">
        <h1 class="p-2 fs-1 text-center mt-5">Soy <span class="color1">Agustina Chiodini</span>, <span class="color2">Desarrolladora
                Web Full-Stack java</span></h1>
        <p class="paragraph-body mt-5 p-2 fs-6 w-100 text-justify"> <span class="color1">Apasionada</span> por proyectos desafiantes. Siempre <span class="color2">aprendiendo y creciendo</span> como desarrolladora, me encanta enfrentar nuevos retos y superarlos con <span class="color1">creatividad y determinación.</span> Soy una persona <span class="color2">comprometida con mi trabajo</span> y busco constantemente mejorar mis habilidades para ofrecer soluciones de calidad a mis clientes.</p>
    </div>
</section>